
/*

CHILD : canvas de progreso para imagenes

*/

.ProgressImage-SizeRead {
  position: absolute;bottom: 0em;right: 0em;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(50, 58, 95, 0.5);
  padding: 0.4em;letter-spacing: 1px;
  font-size: 14px;border-radius: 8px;
  padding-bottom: 0.3em;
}

.ProgressImage-logo-size {
  width: 106px;height: 96px;
}

.ProgressImage-logo {
  background-image: url(imagen.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: ProgressImage-logo 0.8s both ease 0.1s;
  -moz-animation: ProgressImage-logo 0.8s both ease 0.1s;
}

.ProgressImage-size {
  width: 400px;height: 205px;
}

.ProgressImage-container {
  pointer-events: none;
  position: relative;
	background: repeating-linear-gradient(
		45deg,
		rgba(14, 72, 42, 1),
		rgba(14, 72, 42, 1) 25px,
		rgba(39, 146, 88, 1) 25px,
		rgba(39, 146, 88, 1) 50px
	);
	background-color: #121113;
	border-radius: 8px;
	-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes ProgressImage-logo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

@-moz-keyframes ProgressImage-logo {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.ProgressImage-column {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  height: calc(100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

canvas[name="SunfurThanos"] {
    background: transparent;
    box-sizing: border-box;
    border: none;
}