
/*********************************************************************

CHILD : menu tipo mobil xD-D-D-DDDDD

*********************************************************************/

.body-menu_button {
    width: 32px;
    position: relative;
    background: transparent;
    cursor: pointer;
}

.body-menu_button-triger_line {
    width: 25px;
    height: 3px;
    background: #000;
    margin-bottom: 4px;
    transition: all .2s ease-in-out;
}

/*********************************************************************

CHILD : Utilidades CSS

*********************************************************************/

/* imagen responsive, basado en el tamaño del objeto padre */
.Umbrella-imageResponsive {
  height: auto;max-width: 100%;
}

/*********************************************************************

  CHILD : canvas de progreso para imágenes

*********************************************************************/

/*celda donde muestra el total de los kbs descargados*/
.ProgressImage-SizeRead {
  position: absolute;bottom: 0em;right: 0em;
  color: rgba(0, 0, 0, 0.74);
  font-weight: 600;
  background: rgba(67, 86, 172, 0.2);
  padding: 0.4em;letter-spacing: 1px;
  border-radius: 8px;
  padding-bottom: 0.3em;
}

/*tamaño & el estilo del contenedor principal*/
.ProgressImage-size {
  width: 50%;height: 170px;
}

.ProgressImage-container-text {
  color: #01080F;
}

.ProgressImage-container {
  position: relative;
  pointer-events: auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
  background: repeating-linear-gradient(
    45deg,
    #AFD3FB,
    #AFD3FB 25px,
    rgba(175, 211, 251, 0.7) 25px,
    rgba(175, 211, 251, 0.7) 50px
  );
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
}


/*estilo  del contenedor principal, cuando ha sucedido un error de carga*/
.ProgressImage-container-error {
  background: repeating-linear-gradient(
    45deg,
    #FBB8BA,
    #FBB8BA 25px,
    #FACFD5 25px,
    #FACFD5 50px
  );
  background-color: white;
}


/*********************************************************************

CHILD : PreLoad Page

*********************************************************************/

div[name="body.container"] {
  display: none;
  -webkit-animation: umbrella_opacityBoDy 0.7s both ease .0s;
  -moz-animation: umbrella_opacityBoDy 0.7s both ease .0s;
}

div[name="body.progress"] {
  box-sizing        : border-box;
  display           : block;
  position          : absolute;
  left              : 50%;
  top               : 50%;
  width             : 30px;
  height            : 30px;
  margin            : -16.5px 0 0 -16.5px;
  border-radius     : 50%;
  border            : 3px solid transparent;
  border-color      : rgba(0, 0, 255, 0.6) transparent;
  -webkit-animation : umbrella_circule_progress 1s linear infinite;
  -moz-animation    : umbrella_circule_progress 1s linear infinite;
  z-index           : 11;
}

@-moz-keyframes umbrella_opacityBoDy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

@-webkit-keyframes umbrella_opacityBoDy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes umbrella_circule_progress {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
}

@keyframes umbrella_circule_progress {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
