
/*********************************************************************

  CHILD : canvas de progreso para imágenes

*********************************************************************/

/*celda donde muestra el total de los kbs descargados*/
.ProgressImage-SizeRead {
  position: absolute;bottom: 0em;right: 0em;
  color: rgba(0, 0, 0, 0.74);
  font-weight: 600;
  background: rgba(67, 86, 172, 0.2);
  padding: 0.4em;letter-spacing: 1px;
  border-radius: 8px;
  padding-bottom: 0.3em;
}


/*logotipo alusivo a una imagen, que identifica a usuarios final inexpertos de que el proceso efectuándose tiene que ver con imágenes :)*/
.ProgressImage-logo-size {width: 30%;height: 30%;}

.ProgressImage-logo {
  background-image: url(mimetype_image.svg);
  background-size: initial;
  background-repeat: no-repeat;
  -webkit-animation: ProgressImage-logo 0.8s both ease 0.1s;
  -moz-animation: ProgressImage-logo 0.8s both ease 0.1s;
  -ms-animation: ProgressImage-logo 0.8s both ease 0.1s;
}

/*animación para el logo imagen alusivo*/
@-webkit-keyframes ProgressImage-logo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

@-moz-keyframes ProgressImage-logo {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-ms-keyframes ProgressImage-logo {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


/*tamaño & el estilo del contenedor principal*/
.ProgressImage-size {
  width: 200px;height: 160px;
}

.ProgressImage-container {
  position: relative;
  pointer-events: auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  cursor:default;
  background: repeating-linear-gradient(
    45deg,
    #AFD3FB,
    #AFD3FB 25px,
    rgba(175, 211, 251, 0.7) 25px,
    rgba(175, 211, 251, 0.7) 50px
  );
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
}


/*estilo  del contenedor principal, cuando ha sucedido un error de carga*/
.ProgressImage-container-error {
  background: repeating-linear-gradient(
    45deg,
    #FBB8BA,
    #FBB8BA 25px,
    #FACFD5 25px,
    #FACFD5 50px
  );
  background-color: white;
}

/*estilo para el botón de re-intentar carga de imagen*/
.ProgressImage-ButtonReload {
  cursor: pointer;
  margin-top: -0.2em;
  outline: none;
  border: 1px #353630 solid;
  padding: 5px;
  padding-bottom: 3px;
  font-size: 1.14rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  letter-spacing: 0.9px;
  background: rgba(251, 43, 72, 0.9);
  border-radius: 0.44rem;
}

.ProgressImage-ButtonReload:hover, .ProgressImage-ButtonReload:active {
  background: rgba(251, 43, 72, 0.54);
  border-color: black;
  color: rgba(0, 0, 0, 1);
}



/*********************************************************************

CHILD : PreLoad Page

*********************************************************************/

div[name="main-container"] {
  display: none;
  -webkit-animation: umbrella_opacityBoDy 0.7s both ease .05s;
  -moz-animation: umbrella_opacityBoDy 0.7s both ease .05s;
  -ms-animation: umbrella_opacityBoDy 0.7s both ease .05s;
}

div[name="preloader-animation"] {
  box-sizing        : border-box;
  display           : block;
  position          : absolute;
  left              : 50%;
  top               : 50%;
  width             : 30px;
  height            : 30px;
  margin            : -16.5px 0 0 -16.5px;
  border-radius     : 50%;
  border            : 3px solid transparent;
  border-color      : rgba(0, 0, 255, 0.6) transparent;
  -webkit-animation : umbrella_circule_progress 1s linear infinite;
  animation         : umbrella_circule_progress 1s linear infinite;
  z-index           : 11;
}

@-moz-keyframes umbrella_opacityBoDy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}
@-webkit-keyframes umbrella_opacityBoDy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

@-webkit-keyframes umbrella_circule_progress {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }}

@keyframes umbrella_circule_progress {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }}

/*********************************************************************

CHILD : Utilidades CSS

*********************************************************************/

/* imagen responsive, basado en el tamaño del objeto padre */
.Umbrella-imageResponsive {
  display: block;height: auto;max-width: 100%;
}