
body {
  background: #F2F2F2; /*#F2F2F2*/
  color: #3B3C40;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Oxygen,Ubuntu,Cantarell,"Open Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.SELECT {
  color: #1a28d0;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
  margin-left: 0.4em;
  pointer-events: none;
}

code {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  border: 1px #B7B3CC solid;
}

strong {
  color: #4F4E5C;
  font-weight: 600;
}

span {
  font-weight: bold;color: #7970ec;
}

p {
  text-align: left;
  word-spacing: all;
  text-align: justify;
}


b {
  color: #d01a72;
  font-weight: bold;
}

h2 {
  background-color: #282828;
  color: #FFFFFF;
  letter-spacing: 1.8px;
  padding-top: 0.1em;
  padding-bottom: 0.35em;
  padding-left: 0.5em;
  width: calc(80%);
  font-size: 1.4rem;
}

mark {
  background: transparent;
  border: 1px blue solid;
  padding: 0px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.1em;
  opacity: 0.96;
  font-weight: 600;
}

.header {
  width: 100%;
  height: 50px;
  padding-top: 0em;
  background-color: white;
  top: -0.4em;
  box-shadow: .0 .5rem .5rem rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
}

a[href] {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-weight: bold;
  padding: 0.2em;
  font-size: 15px;
  border: 1px #2E323D solid;
  letter-spacing: 1px;
  border-radius: 8px;
}

a[href]:hover, a[href]:active {
  color: #0E69DA;
  border-color: #0E69DA;
}




button {
  text-decoration: none;
  color: #FFFFFF;
  background: #0E69DA;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  text-decoration: none;
  padding: 5px 12px 6px;
  font-size: 16px;
  letter-spacing: 1.64px;
  font-weight: 600;
  outline: 0;
  -webkit-transition: background 0.3s ease-out;
  box-shadow: none;
}

button:hover, button:active {
  background: #1578F0;
  box-shadow: none;
  outline: none;
  -webkit-transition: background 0.3s ease-out;
}














.columns {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  /*height: calc(100%);*/
}

.columns2 {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  height: calc(100%);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.hbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*Align children horizontally*/
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}